<<<<<<< HEAD
<% include ../partials/header %>
    <br>
    <div class="container opp-form">
        <h1 class="text-center">Apply To Volunteer For <%= opportunity.title %></h1>
        <br>
        <div class="cg-form">
            <form action="/opportunity/<%= opportunity._id %>/application" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="application[email]" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea name="application[description]" class="form-control" placeholder="Why Do You Want To Volunteer?" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="application[time]" placeholder="Time Commitment" required>
                </div>
                <div class="form-group">
                        <textarea name="application[experience]" class="form-control" placeholder="Previous Volunteering Experience" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Apply!</button>
                </div>
            </form>
        </div>
    </div>
=======
<% include ../partials/header %>
    <br>
    <div class="container opp-form">
        <h1 class="text-center">Apply To Volunteer For <%= opportunity.title %></h1>
        <br>
        <div class="cg-form">
            <form action="/opportunity/<%= opportunity._id %>/application" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="application[email]" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea name="application[description]" rows="7" cols="60" placeholder="Why Do You Want To Volunteer?" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="application[time]" placeholder="Time Commitment" required>
                </div>
                <div class="form-group">
                        <textarea name="application[experience]" rows="7" cols="60" placeholder="Previous Volunteering Experience" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Apply!</button>
                </div>
            </form>
        </div>
    </div>
>>>>>>> 155441e18bdbfcc2fd483b73e65bbfda087dc39d
<% include ../partials/footer %>